<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Google表單，輸入ID後自動帶入其它欄位資料 - Augustus - Let's Write</title>
    <link rel="canonical" href="https://letswritetw.github.io/letswrite-google-forms-id-data/"/>
    <meta property="og:url" content="https://letswritetw.github.io/letswrite-google-forms-id-data/"/>
    <meta property="fb:app_id" content="2435108729902508"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Let's Write"/>
    <meta property="og:title" content="Google表單，輸入ID後自動帶入其它欄位資料 - Augustus - Let's Write"/>
    <meta itemprop="name" content="Google表單，輸入ID後自動帶入其它欄位資料 - Augustus - Let's Write"/>
    <meta name="description" content="文章大綱"/>
    <meta property="og:description" content="文章大綱"/>
    <meta itemprop="description" content="文章大綱"/>
    <meta itemprop="image" content="https://letswritetw.github.io/letswrite-google-forms-id-data/fb.jpg"/>
    <meta property="og:image" content="https://letswritetw.github.io/letswrite-google-forms-id-data/fb.jpg"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:image:alt" content="Google表單，輸入ID後自動帶入其它欄位資料"/>
    <link rel="shortcut icon" href="https://letswritetw.github.io/letswritetw/dist/img/logo_512.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="dist/style.min.css"/>
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PGQ9WQT');
    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGQ9WQT" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="container" id="app">
      <div class="double-wrap" :class="{ hide: !loading }">
        <div class="double">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
      <section class="kv w-640"><img src="https://picsum.photos/640/360" width="640" height="360" alt="主視覺"/></section>
      <section class="form w-640">
        <div class="text-center">
          <h1>Google表單，輸入ID後自動帶入其它欄位資料</h1>
          <p>筆記文：<a href="https://letswrite.tw/google-forms-id-data/" target="_blank">Let's Write</a></p>
        </div>
        <div class="form-group">
          <label for="main_id">請輸入 ID（0101 - 0112）</label>
          <input class="form-control" id="main_id" type="number" v-model="id" @input="limitIdLen(id)"/>
        </div>
        <div class="two-col">
          <div class="col">
            <div class="form-group">
              <label for="name">姓名</label>
              <div class="prepend">
                <div class="pre male" v-if="person.gender == '男'">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="#00A7E5" d="M18.586 5H14V3h8v8h-2V6.414l-3.537 3.537a7.5 7.5 0 1 1-1.414-1.414L18.586 5z"></path>
                  </svg>
                </div>
                <div class="pre female" v-if="person.gender == '女'">
                  <female></female>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="#E91E63" d="M11 15.934A7.501 7.501 0 0 1 12 1a7.5 7.5 0 0 1 1 14.934V18h5v2h-5v4h-2v-4H6v-2h5v-2.066z"></path>
                  </svg>
                </div>
                <input class="form-control" id="name" type="text" v-model="person.name" disabled="disabled"/>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="phone">電話</label>
              <input class="form-control" id="phone" type="tel" v-model="person.phone" disabled="disabled"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="site">地址</label>
          <input class="form-control" id="site" type="text" v-model="person.site" disabled="disabled"/>
        </div>
        <div class="form-group">
          <label for="message">備註</label>
          <input class="form-control" id="message" type="text" v-model="person.message" :disabled="person.name == undefined"/>
        </div>
        <div class="submit"><a href="#" :class="{ disabled: person.name == undefined }" @click.prevent="submit">送出</a></div>
      </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="dist/main.min.js"></script>
  </body>
</html>
